.score-card {
  width: 80%;
  max-width: 900px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  height: 65px;
  
  .score-header {
    font-size: 13px;
    font-weight: 300;
    color: grey;
  }

  .score-body {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 500;

    .score {
      display: flex;
      overflow: hidden;
      width: 80px;
      margin: 0 5px 0 5px;
    
      > * {
        padding: 0.2em;
      }
    
      .score-number {
        flex-grow: 5;
      }
      
      .score-divider {
        flex-grow: 2;
      }
    }

    .team-container {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      justify-content: space-between;
    
      .team-logo {
        height: 46px;
        margin-top: -6px;
      }
    
      .team-name {
        flex-grow: 1;
        padding: 0.2em;
        height: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      @media (max-width: 600px) {
        .team-name {
          visibility: hidden;
          display: none;
        }

        .team-logo-container {
          flex-grow: 1;
        }
      }
    }
  }
}

.hideMe {
  
  > .score-body, .score-header {
    opacity: 0.05;
  }

  .score {
    color: rgba(0, 0, 0, 0.3);
  }
}

.my-border {
  border: solid;
  border-width: 1px;
  border-color: rgb(193, 193, 193);
  box-shadow: 1px 1px rgba(193, 193, 193, 0.337);
}

.bad-result-overlay {
  position: absolute;
  width: 80%;
  max-width: 900px;
  font-size: 22px;
  font-weight: 500;
  color: black;
  text-align: center;
  margin-top: 0.2em;
  height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;

  .errrm {
    visibility: hidden;
    display: none;
  }

  @media (max-width: 400px) {
    .big-excuse {
      visibility: hidden;
      display: none;
    }
  
    .errrm {
      visibility: visible;
      display: inline;
    }
  }  

  @media (max-width: 600px) {
    .big-excuse {
      font-size: 16px;
    }
  }
}






.picker-container {
  width: 30%;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 30px;

  * {
    margin: 3px;
  }

  select {
    font-size: 0.8em;
    width: 90%;
  }

  button {
    font-size: 0.8em;
    width: 60%;
    padding: 5px;
  }

  .team-picker-error {
    color: red;
    font-size: 0.8em;
  }
}




.nav-bar {
  width: 80%;
  max-width: 900px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 65px;
  display: flex;

  > * {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }

  .nav-button {
    height: 100%;
    cursor: pointer;
    user-select: none;
    padding-top: 22px;
    font-size: 14px;
  }

  @media (min-width: 600px) {
    .nav-button {
      font-size: 18px;
    }
    
  }

  .nav-button:hover {
    color: rgb(120, 83, 68);
  }

  .nav-round {
    background-color: rgb(255, 162, 126);
  }

  .nav-resubmit {
    background-color: rgb(255, 138, 92);
  }
}

