.score-card {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  height: 6em;
}

.score-header {
  font-size: 1em;
  font-weight: 300;
  color: grey;
}

.score-body {
  display: grid;
  grid-template-columns: 42.5% 15% 42.5%;
  font-size: 1.8em;
  font-weight: 500;
}

.hideMe > .score-header, .hideMe > .score-body {
  opacity: 0.05;
}

.hideMe .score {
  color: rgba(0, 0, 0, 0.3);
}

.my-border {
  border: solid;
  border-width: 1px;
  border-color: rgb(193, 193, 193);
  box-shadow: 1px 1px rgba(193, 193, 193, 0.337);
}

.score {
  display: flex;
  overflow: hidden;

}

.score > * {
  padding: 0.2em;
}

.score-number {
  flex-grow: 5;
}

.score-divider {
  flex-grow: 2;
}

.team-container {
  display: grid;
}

.home-team {
  grid-template-columns: 90% 10%;
}

.away-team {
  grid-template-columns: 10% 90%;
}

.team-logo {
  width: 100%;
  margin-top: 0.2em;
}

.team-name {
  padding: 0.2em;
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bad-result-overlay {
  position: absolute;
  width: 90%;
  font-size: 2em;
  font-weight: 500;
  color: black;
  text-align: center;
  margin-top: 0.2em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.picker-container {
  width: 30%;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 30px;
}

.picker-container * {
  margin: 3px;
}
.picker-container select {
  font-size: 0.8em;
  width: 90%;
}

.picker-container button {
  font-size: 0.8em;
  width: 60%;
  padding: 5px;
}

.nav-bar {
  margin: 5px auto 15px auto;
  display: flex;
}

.nav-bar > * {
  flex-grow: 1;
  text-align: center;
}

.nav-bar button {
  font-size: 1.1em;
  width: 50%;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}