.score-card {
  width: 90%;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}

.celebrate {
  grid-template-columns: 40% 20% 40%;
  font-size: 2.5em;
}

.celebrate > .home-team {
  grid-template-columns: 85% 15%;
}

.celebrate > .away-team {
  grid-template-columns: 15% 85%;
}

.hideMe {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.08);
}

.hideMe > .home-team {
  grid-template-columns: 95% 5%;
}

.hideMe > .away-team {
  grid-template-columns: 5% 95%;
}

.hideMe img {
  opacity: 0.1
}

.hideMe .score {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.02);
}

.my-border {
  border: solid;
  border-width: 1px;
  border-color: rgb(193, 193, 193);
  box-shadow: 1px 1px rgba(193, 193, 193, 0.337);
}

.score {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
}

.score > * {
  padding: 0.2em;
}

.team-container {
  display: grid;
}

.home-team {
  grid-template-columns: 90% 10%;
}

.away-team {
  grid-template-columns: 10% 90%;
}

.team-logo {
  width: 100%;
  margin-top: 0.2em;
}

.team-name {
  padding: 0.2em;
}